body {
    background: black;
    color: whitesmoke;
    font: normal 20pt Arial;
}

div#area {
    background-color: green;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}